.Rhistory
data_output_files/*.csv
data_raw_hourly/*.dat
met_15_data/
met_16_17_data/
met_18_data/
misc/
reports/
.DS_Store
.RData

programs/03_hourly_met_qaqc.R
programs/04_met_summaries.R
programs/05_join_current_met_data_with_archive.R
programs/Met_ToDo.Rmd
programs/Met-ToDo.html
programs/met49_50_daily_wind_speed_report.html
programs/met50_daily_precip_report.html
programs/send_mail_met49_50_daily_wind_speed.py
programs/send_mail_met50_daily_precip.py
programs/met_retrieval.sh
programs/testing_programs/
programs/.Rapp.history